@media all  {

a {color:#3a3a7b;text-decoration:none;}
.cjo_navi_item *,.cjo_status *,.cjo_teaser *,.cjo_comments *,.cjo_delete * {cursor:pointer;}
td.cjo_delete {text-align:right;padding-right:10px;}

.cjo_select_button {float:left;background-color:#fff;border:1px solid #7f9db9;max-width:360px;margin:0;padding:3px;position:relative;}
.cjo_select_button .cjo_select_button_preview {display:block;float:none !important;border:2px solid #99d8f3 !important;margin:0 auto 5px !important;padding:0 3px !important;}
.cjo_select_button input[type=text],.cjo_select_button input[type=password],.cjo_select_button textarea,.cjo_select_button select {font-size:13px!important;line-height:18px!important;width:346px;display:block;border:2px solid #99d8f3 !important;margin:0!important;padding:4px!important;}
.cjo_select_button input[readonly=readonly],.a22-cjoform .cjo_select_button input[readonly=readonly] {line-height:18px;background:#fff !important;margin-bottom:2px;}
.cjo_select_button select {width:343px;}
.cjo_select_button select.custom_select {width:345px;}
.cjo_select_button select.cjo_media_list {width:316px;float:left;}
.cjo_select_button select.cjo_media_list option {font-size:12px;padding:2px 0;}
.cjo_select_button .cjo_small_form_button {position:absolute;right:5px;bottom:8px;background:transparent;padding:0;}
.cjo_select_button.cjomedialistfield .cjo_small_form_button {background:transparent;right:48px;}
.cjo_select_button .cjo_small_form_button .cjo_form_button {float:right;background:#fff;border:none;padding:0!important;margin:0!important;}
.cjo_select_button.cjomedialistfield .cjo_small_form_button .cjo_form_button {background:transparent}
.cjo_select_button .cjo_medialist_right {display:block;width:16px;float:right;padding:10px 3px 0 6px;}
.cjo_select_button .cjo_medialist_right * {display:block;margin:5px 0;}

button.cjo_form_button,
button.cjo_form_button[disabled]:hover,
input[type=button], input[type=submit] {
    background: #d6d6d6 url(../img/contejo/bg/verlauf_weiss.png) repeat-x top left; 
    display: inline-block; 
    padding: 0; 
    margin: 0;
    color: #333; 
    font-size:14px;
    text-decoration: none;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    border-radius: 5px 5px 5px 5px;     
    text-shadow: 0 1px 2px rgba(255,255,255,0.8);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.3);    
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);    
    border: 1px solid #ccc;
    border-color: rgba(50,50,50,0.2) rgba(0,0,0,0.4) rgba(0,0,0,0.4) rgba(30,30,30,0.3);
    position: relative;
    cursor: pointer;
    overflow: hidden;
    line-height:16px;
}

input[type=button], input[type=submit] {padding:2px 4px;font-size:inherit;box-shadow: 0 1px 2px rgba(0,0,0,0.2);background-position:0 -7px}
button.cjo_form_button + button.cjo_form_button {margin-left:4px!important}
button.cjo_form_button.small + button.cjo_form_button.small {margin-left:0!important}

button[disabled] {-moz-opacity: 0.6!important;-webkit-opacity: 0.6!important;opacity: 0.6!important;cursor:default!important}
button.cjo_form_button img {display:block; float:left;padding: 5px 7px 5px 5px;}
button.cjo_form_button span {float:left;font-weight:bold;text-transform:uppercase;display:inline-block;padding:5px 7px}
button.cjo_form_button img + span, button.cjo_form_button span + img{float:none;border: 1px solid rgba(50,50,50,0.2); border-width: 0 0 0  1px;padding-left:8px}
button.cjo_form_button span + img{float:right; padding-left:7px;}
button.cjo_form_button.small,button.cjo_form_button.small * {margin:0 !important;padding:1px 0 !important}

button.cjo_form_button.cjo_setup_buttons, button.cjo_form_button.cjo_setup_buttons + button.cjo_form_button.cjo_setup_buttons {width:200px;margin:5px auto!important;float:none;clear:both;display:block;}
button.cjo_form_button.cjo_setup_buttons img {display:block;margin:2px;}
button.cjo_form_button.cjo_setup_buttons span {margin-left:33px;display:block;text-align:left;}	

button.cjo_form_button:hover,input[type=button]:hover, input[type=submit]:hover {background-color: #c7c7c7;}

.cjo_small_form_button button.cjo_form_button.small      { font-size: 11px; -moz-border-radius: 0;-webkit-border-radius: 0;border-radius: 0;-moz-box-shadow: none;-webkit-box-shadow: none;box-shadow:  none;border: none}
button.cjo_form_button.medium     { font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
button.cjo_form_button.large      { font-size: 14px; padding: 8px 14px 9px; }


button.cjo_form_button + button.cjo_form_button#cjoform_save_button{color: #333; background-color: #d6d6d6; }
button.cjo_form_button + button.cjo_form_button#cjoform_save_button:hover { background-color: #b3b3b3; }


button.cjo_form_button.green, 
button.cjo_form_button#cjoform_update_button, 
button.cjo_form_button#cjoform_save_button, 
button.cjo_form_button.cjo_button_update, 
button.cjo_form_button.cjo_button_save,
input[type=button].green, 
input[type=submit].green  
{color:green;background-color: #a8e4a0; }

button.cjo_form_button.green:hover, 
button.cjo_form_button#cjoform_update_button:hover, 
button.cjo_form_button#cjoform_save_button:hover, 
button.cjo_form_button.cjo_button_update:hover, 
button.cjo_form_button.cjo_button_save:hover,
input[type=button].green:hover,
input[type=submit].green:hover
{ background-color: #8ccf80; }


button.cjo_form_button.blue,
input[type=button].blue, 
input[type=submit].blue   
{ background-color: #99d8f3; }
button.cjo_form_button.blue:hover,
input[type=button].blue:hover,
input[type=submit].blue:hover,                         
{ background-color: #007d9a; }

button.cjo_form_button.red, button.cjo_button_delete,
button.cjo_form_button.cjo_button_delete,
input[type=button].red, 
input[type=submit].red   
{color:#990000;background-color: #eba693; }
input[type=button].red:hover,
input[type=submit].red:hover,
button.cjo_form_button.red:hover, button.cjo_button_delete:hover,
button.cjo_form_button.cjo_button_delete:hover  
{ background-color: #e3552d; }

button.cjo_form_button.magenta,
input[type=button].magenta, 
input[type=submit].magenta   
{ background-color: #a9014b; }
button.cjo_form_button.magenta:hover,
input[type=button].magenta:hover,
input[type=submit].magenta:hover,                  
{ background-color: #630030; }

button.cjo_form_button.orange,
input[type=button].orange, 
input[type=submit].orange      
{ background-color: #ff5c00; }
button.cjo_form_button.orange:hover,
input[type=button].orange:hover,
input[type=submit].orange:hover,    
{ background-color: #d45500; }

button.cjo_form_button.yellow,
input[type=button].yellow, 
input[type=submit].yellow     
{ background-color: #ffb515; }
button.cjo_form_button.yellow:hover,
input[type=button].yellow:hover,
input[type=submit].yellow:hover,    
{ background-color: #fc9200; }
    

#cjo_uploads {max-height:280px;overflow:auto;position:relative;padding:0;margin:0 0 30px 0;}
#select_al_uploads {display:block;margin:-25px 0 0 187px;}
.cjo_image_container {width:100px;height:90px;float:left;text-align:center;border:2px solid #99d8f3;position:relative;font-size:0;line-height:80px;cursor:pointer;z-index:1;border-color:#009de0;margin:0 10px 10px 0;padding:20px;}
.cjo_image_container:hover,.cjo_image_container.selected {border-color:#0e0;}
.cjo_image_container.selected {background:#fff;}
.cjo_image_container img {vertical-align:middle;max-width:80px;max-height:80px;}
.cjo_image_container span {position:absolute;top:3px;right:3px;height:18px;}
.cjo_image_container span input {float:right;}
.cjo_image_container b {font-size:9px;position:absolute;bottom:5px;left:5px;display:block;word-wrap:break-word;overflow:hidden;line-height:12px;width:130px;font-weight:400;}
.cjo_modulselect {background:#99d8f3;padding:10px;clear:both;}
.cjo_modulselect:hover {background:#009de0;}
.cjo_hidden_anchor {position:absolute;visibility:hidden;margin:-200px 0 200px;}
.cjo_modulselect select {width:100%;text-align:center;font-size:110%;}
.cjo_modulselect select option {text-align:left;font-weight:700;margin-bottom:1px;display:block;padding:1px;}
.cjo_modulselect select option[selected] {text-align:left;font-weight:700;padding:5px 2px;}

.cjo_slice_head {background:#EEEEEE;margin:6px 0 1px;padding-right:5px;position:relative}
.cjo_slice_head.no_rights {padding-right:5px;background:#fae9e5;}
.cjo_slice_head .cjo_slice_left {font-size:1.1em;padding:7px 0 0 10px;}
.cjo_slice_head .cjo_slice_right {float:right;margin:10px 5px;}
.cjo_slice_head .cjo_slice_right .cjo_form_button {float:left;margin:0 0 0 6px!important;}
.cjo_slice_head .cjo_slice_right .cjo_button_move_up,.cjo_slice_head .cjo_slice_right .cjo_button_move_down {display:block;padding:1px!important;margin: 3px 0!important}
.cjo_slice_head .cjo_slice_right .cjo_button_move_up {margin: 3px 3px 0 10px!important}

.cjo_slice {background:#ebf7fa;font-size:110%;padding:10px;}
.cjo_slice.output {overflow-x: auto;overflow-y: hidden;}
.cjo_slice .settings {overflow:visible !important;clear:both;background:#ccd7dd;z-index:2;zoom:1;margin:0 0 10px;}
.cjo_slice .settings h2 {font-weight:400;text-transform:uppercase;font-size:11px !important;color:#fff;border:1px solid;background-color:#b0bdc3;background-image:url(../img/silk_icons/control_up_down.png);background-repeat:no-repeat;background-position:right center!important;cursor:pointer;border-color:#ddd #a6a6a6 #888;margin:0;padding:2px 40px 10px 3px!important;}
.cjo_slice .up_down {float:right;background-color:#cfc;margin:-26px 1px 0 0;padding:4px 3px 5px;}
.cjo_slice .settings h2.no_bg_image,.cjo_slice .settings h2.no_slide {background-image:none;cursor:default;}
.cjo_slice .settings h2 span,.cjo_slice .settings h3 span {font-size:10px;font-weight:400;display:inline;text-transform:none;}
.cjo_slice .settings h3 {color:#777;font-size:11px;line-height:1em;clear:both;text-transform:uppercase;margin:0;padding:.7em 0 .3em;}
.cjo_slice .settings .container {line-height:2em;zoom:1;margin:0;padding:3px 10px 10px;}
.cjo_slice .settings p:focus {border:2px solid #b0bdc3;}
.cjo_slice .settings .container strong {display:block;background:#e4eff2;line-height:1em;margin:.5em 0;padding:5px;}

.cjo_slice input[type=text],.cjo_slice input[type=password],.cjo_slice textarea {display:block;font-size:12px;width:100%;padding:2px;}
.cjo_slice input.headline_h1,.cjo_slice input.headline_h2,.cjo_slice input.headline_h3,.cjo_slice input.headline_h4,
.cjo_slice textarea.headline_h1,.cjo_slice textarea.headline_h2,.cjo_slice textarea.headline_h3,.cjo_slice textarea.headline_h4,
.cjo_slice select.headline_h1,.cjo_slice select.headline_h2,.cjo_slice select.headline_h3,.cjo_slice select.headline_h4 {width:100%;font-weight:700;border:5px solid #ccd7dd;padding:5px;}
.cjo_slice input.headline_h1,.cjo_slice textarea.headline_h1,.cjo_slice select.headline_h1,.cjo_slice h1 {font-size:1.8em;}
.cjo_slice h1 {margin-bottom:1.5em;}
.cjo_slice input.headline_h2,.cjo_slice textarea.headline_h2,.cjo_slice select.headline_h2,.cjo_slice h2 {font-size:1.45em;}
.cjo_slice input.headline_h3,.cjo_slice textarea.headline_h3,.cjo_slice select.headline_h3,.cjo_slice h3 {font-size:1.3em;}
.cjo_slice input.headline_h4,.cjo_slice textarea.headline_h4,.cjo_slice select.headline_h4,.cjo_slice h4 {font-size:1.2em;font-weight:400;}
.cjo_slice .settings .container input[type=text],.cjo_slice .settings .container input[type=password],.cjo_slice .settings .container textarea {width:99%;margin-bottom:1em;border:none;}
.cjo_slice p {line-height:1.5em;margin:0 0 1em;}
.cjo_slice li {margin-left:1em;line-height:1.5em;font-size:1.25em;}
.cjo_slice li li, .cjo_slice .textblock li, .cjo_slice .download_list li {font-size:1em;}
.cjo_slice table {margin-bottom:1.5em;font-size:110%;width:500px;max-width:100%;}
.cjo_slice table caption {margin-bottom:0 !important;padding-bottom:3px;font-weight:700;}
.cjo_slice u {text-decoration:underline;}
.cjo_slice .left {text-align:left;}
.cjo_slice .center {text-align:center;}
.cjo_slice .right {text-align:right;}
.cjo_slice .justify {text-align:justify;}
.cjo_slice a {text-decoration:underline;color:#666;}
.cjo_slice a:hover,.cjo_slice a:focus {color:#000;}

.cjo_slice .cjo_imgslice {float:left;margin-right:10px;}
.cjo_slice .cjo_imgslice .cjo_img_prev {min-width:230px;position:relative;overflow:auto;margin:0;}
.cjo_slice .hrz_img .cjo_imgslice {float:left;width:auto;}
.cjo_slice .hrz_img .cjo_imgslice .cjo_img_prev {min-width:240px;width:auto !important;position:relative;}

.cjo_slice .cjo_imgslice .cjo_img_prev img {display:block;margin:5px auto 0;}
.cjo_slice .cjo_imgslice .cjo_img_prev p {margin:0;}
.cjo_slice .cjo_imgslice .cjo_img_prev .warning {visibility:hidden;position:absolute;}
.cjo_slice .cjo_imgslice_buttons {position:relative;text-align:right;height:20px;margin:3px 5px 5px;}
.cjo_slice .cjo_imgslice_buttons input.first {float:left;}

.cjo_slice .cjo_inputs {display:none;position:absolute;background:transparent url(../img/contejo/bg/inputs_top.png) no-repeat center top;width:230px;z-index:50;padding:1px 6px 0 4px;}
.cjo_slice .cjo_inputs .cjo_inputs_bottom {clear:both;height:6px;background:transparent url(../img/contejo/bg/inputs_bottom.png) no-repeat center top;margin:0 -6px -6px -4px;}
.cjo_slice .cjo_inputs .container {zoom:1;padding:6px 5px 0;}
.cjo_slice .cjo_inputs h3 {clear:both;background:#b0bdc3 url(../img/plain_icons/bullet_arrow_right_white.gif) no-repeat left center;border-top:1px solid #ddd;border-bottom:1px solid #888;color:#fff;font-size:11px;cursor:pointer;font-weight:400;margin:1px 0 -1px !important;padding:3px 7px 3px 16px !important;}
.cjo_slice .cjo_inputs h3:hover {background-image:url(../img/plain_icons/bullet_arrow_down_white.gif);background-color:#becdd4;}
.cjo_slice .cjo_inputs h3.open {background-image:url(../img/plain_icons/bullet_arrow_down_white.gif);}
.cjo_slice .cjo_inputs h3.open:hover {background-image:url(../img/plain_icons/bullet_arrow_right_white.gif);background-color:#becdd4;}
.cjo_slice .cjo_inputs .container select,.cjo_slice .cjo_inputs .container textarea,.cjo_slice .cjo_inputs .container input[type=text] {width:100%;display:block;border:1px solid #999;border-color:#888 #bbb #bbb #888;margin:0 0 5px;}
.cjo_slice .cjo_inputs .container textarea,.cjo_slice .cjo_inputs .container input[type=text] {width:214px !important;}
.cjo_slice .cjo_inputs .container label {display:block;}
.cjo_slice .cjo_inputs .container label.right {display:inline;margin:0 !important;}
.cjo_slice .cjo_inputs .container .cjo_select_button {margin-bottom:4px !important;}
.cjo_slice .cjo_inputs .container .cjo_select_button input {margin-top:0;width:200px!important;}
.cjo_slice .cjo_inputs .container .cjo_select_button select {margin-top:0;width:212px!important;}

.cjo_slice .settings .formular {display:block;font-size:12px;line-height:18px;background:transparent;border:0;overflow:visible;clear:both;zoom:1;margin:0;padding:6px 5px 5px 245px;}
.cjo_slice .settings .formular + .formular {border:0;border-top:1px solid #a3bac7;}
.cjo_slice .settings .formular:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
.cjo_slice .settings .formular.last {border:0;}
.cjo_slice .settings .formular label {float:left;width:230px;margin-left:-240px;font-weight:400;color:#333;text-align:right;margin-right:10px;display:block;text-transform:uppercase;vertical-align:middle;}
.cjo_slice .settings .formular label.right_label {float:none;width:auto;font-weight:400;text-align:left;margin-left:1%;display:inline;text-transform:none;}
.cjo_slice .settings .formular input {vertical-align:middle;}
.cjo_slice .settings .formular input.headline_h1,.cjo_slice .settings .formular input.headline_h2,.cjo_slice .settings .formular input.headline_h3,.cjo_slice .settings .formular input.headline_h4,.cjo_slice .settings .formular select.headline_h1,.cjo_slice .settings .formular select.headline_h2,.cjo_slice .settings .formular select.headline_h3,.cjo_slice .settings .formular select.headline_h4 {border:none;}
.cjo_slice .settings .formular .note {color:#666;}
.cjo_slice th {font-weight:700;text-align:left;background:#ebebeb;}
.cjo_slice th,.cjo_slice td {border:1px solid #ccd7dd;border-width:1px 1px 1px 1px;padding:5px;}
.cjo_slice tr + tr td,.cjo_slice tr + tr th, .cjo_slice * + tbody tr td {border-top:none;}
.cjo_slice th + th,.cjo_slice td +td {border-left:none;}
.cjo_slice th.first,.cjo_slice td.first {border-left:1px solid #ccd7dd;}
.cjo_slice tr th {border-top:1px solid #ccd7dd;}
.cjo_slice fieldset {margin-bottom:1em;font-size:1.3em;width:60%;padding:10px;}
.cjo_slice fieldset .qflabel {display:block;padding:.5em 0 0;}
.cjo_slice fieldset .qfheadline {margin:1em 0;}
.cjo_slice fieldset .qfnote {font-size:.8em;}
select.cjo_select_box {width:93%;border:1px solid #7f9db9;background:#fff;padding:2px;margin:.5em 0;}
select.cjo_select_box option {margin:0;padding:0 .3em;}
select.cjo_select_box option.default {font-weight:700;color:#444;}
span.new {display:block;float:left;font-weight:700;color:red;width:25%;margin:.2em 0 0;}

.cjo_slice .float_left p{padding-right:10px !important;}
.cjo_slice .left_margin{margin-left:250px !important;}
.cjo_slice .left_margin .left_margin{margin-left:0 !important;}
.cjo_slice .left_margin h1{clear:none;}     
    
.cjo_slice .left_col {margin-right:19px;}
.cjo_slice .left_col,.cjo_slice .right_col {height:1%;float:left;}
.cjo_slice .left_col,.cjo_slice .right_col.s_width {width:254px;}
.cjo_slice .right_col,.cjo_slice .left_col.l_width {width:647px;}
.cjo_slice .left_col.l_width .settings,.cjo_slice .right_col.settings {max-width:100%;}
.cjo_slice .left_col .settings,.cjo_slice .right_col.s_width .settings {max-width:260px;}
.cjo_slice .imagelist1 {overflow:hidden;margin:0 0 1em !important;}
.cjo_slice .imagelist2 {max-width:230px;overflow:hidden;padding-top:.3em;float:left;margin:0 15px 1em 0 !important;}
.cjo_slice .imagelistbutton1 {clear:left;border:2px solid #ccd7dd;padding:10px 10px 0;}
.cjo_slice .imagelistbutton2 {width:230px;overflow-y:hidden;border:2px solid #ccd7dd;float:left;overflow:hidden;margin:0 0 1em !important;padding:10px !important;}
.cjo_slice .imagelistbutton1 p,.cjo_slice .imagelistbutton2 p {width:auto !important;}
.cjo_slice .imagelistbutton1 img,.cjo_slice .imagelistbutton2 img,.cjo_slice .hrz_img img,.cjo_slice .vrt_img img {display:block;margin:.25em 0;}
.cjo_slice .media_desc_output {color:#666;display:block;font-size:.9em;line-height:120%;text-align:left;margin:0 0 1em;padding:0 !important;}
.cjo_slice .media_desc_output img {margin-bottom:.3em;display:block;}
.cjo_slice .gal_item {float:left;margin:0 20px 10px 0;padding:0;}
.cjo_slice .gal_item img {border:1px solid #2e2c20;margin:0 0 .5em !important;padding:6px;}
.cjo_slice .gal_item:hover,.cjo_slice .gal_item:focus {border-color:#726f4f;}
.cjo_slice .prev_img {overflow:hidden;}
.cjo_slice .prev_img img {max-width:900px;display:block;float:left;vertical-align:top;margin:10px 0 10px 10px;}
.cjo_slice .prev_img span {display:block;clear:left;margin:10px;}
.cjo_slice .green_box {clear:left;background-color:#cfc !important;line-height:1.4em;border-color:#9df19d;}
.cjo_slice .green_box h2 {color:#333;line-height:1.2em;background-color:#9df19d;border-color:#bbf1bb #92dc92 #6cd06c;}
.cjo_slice .green_box .formular {border-color:#6cd06c;}
.cjo_slice .green_box input[type=checkbox] {margin:-2px 3px 0 7px;}

.info_icons {background-color:#ccd7dd;clear:both;position:relative;margin:2em 0;padding:0;}
.info_icons h5 {font-weight:400;line-height:100%;font-size:110%;cursor:pointer;margin:0;padding:7px 0 7px 5px;}
.info_icons h5.open {padding-bottom:9px;}
.info_icons h5 a {float:right;padding-right:5px;text-decoration:none}
.info_icons img {margin:0;padding:0 3px;}
    
.cjo_slice .info_icons .article_info {background:#e4eff2;width:906px;border:2px solid #ccd7dd;display:none;position:relative;padding:5px;}
.cjo_slice .info_icons .article_info p {width:80%;font-size:100% !important;line-height:150%;overflow:hidden;margin:0;padding:0;}
.cjo_slice .info_icons .article_info span.label {display:block;float:left;width:130px;}
.cjo_slice .info_icons .article_info span.text {display:block;padding-left:140px;}
.cjo_slice .info_icons .article_info .cjo_form_button {clear:both;position:absolute;right:5px;bottom:5px;z-index:0;display:none;}
.cjo_slice .box_main {border:1px solid #adc3c9;clear:left;margin:0 0 1em;padding:0;}
.cjo_slice .box_main h5 {background:#adc3c9;text-transform:uppercase;font-weight:400;font-size:11px;margin:0;padding:3px 3px 6px;}
.cjo_slice .box_main li {margin-left:1.5em;}
.cjo_slice .box_main p,.cjo_slice .box_main ul,.cjo_slice .box_main ol {line-height:1.5em;margin:0;padding:5px;}
.cjo_slice .box_main ul.download_list {list-style:none;margin:0;padding:5px;}
.cjo_slice .box_main ul.download_list li {margin:0;padding:.75em .5em;}
.cjo_slice .box_main ul.download_list li,.box_main ul li.clicked {cursor:pointer;zoom:1;}
.cjo_slice .box_main ul.download_list li:hover,.box_main ul.download_list li:focus {background:#E4EFF2 url(../../contejo/img/silk_icons/control_down.png) no-repeat 100% .5em !important;}
.cjo_slice .box_main ul.download_list li.clicked:hover,.box_main ul li.clicked:focus {background-image:url(../../contejo/img/silk_icons/control_up.png) !important;}
.cjo_slice .box_main .download_start {text-align:right;font-size:1.1em;margin-top:-1.8em;font-weight:700;z-index:1000;}
.cjo_slice .box_main .download_info {display:none;font-size:.95em;width:94%;line-height:1.8em;overflow:hidden;zoom:1;margin:.5em 1em;}
.cjo_slice .box_main .download_info strong {display:block;clear:left;float:left;width:25%;text-align:right;}
.cjo_slice .box_main .download_info span {display:block;margin-left:30%;}
.cjo_with_border {border:1px solid #000;min-height:1em;border-color:#888 #bbb #bbb #888;padding:5px;}

.cjo_dialog_help {padding-left:5px;display:inline;}
.cjo_dialog_help_img {vertical-align:top;cursor:help;}
.cjo_select_button .multiple_note,button.cjo_form_button.small span,
.wym_box,.hidden_anchor,textarea.hide_me,.hide_me,.cjo_dialog_help_text {display:none;}
    
#fancybox-loading {position:fixed;top:50%;left:50%;width:220px;margin-top:-20px;margin-left: -110px;cursor: pointer;overflow:hidden;display:none;background:transparent url(../img/contejo/ajax/ajax-loader4.gif) no-repeat center center;}
#fancybox-outer{background:transparent!important;overflow:visible;}
#fancybox-inner{background:transparent!important;overflow:visible !important;}
#fancybox-close,#fancybox-title,#fancybox-title-over,#fancybox-title-left,#fancybox-title-main,#fancybox-title-right,#fancybox-left,#fancybox-right,#fancybox-left-ico,#fancybox-right-ico,div#fancy-bg-n,div#fancy-bg-ne,div#fancy-bg-e,div#fancy-bg-se,div#fancy-bg-s,div#fancy-bg-sw,div#fancy-bg-w,div#fancy-bg-nw{background-image:none !important;display:none;}
#cjo_connectmedia_top{height:25px;background:transparent url(../img/contejo/bg/connectmedia_top.png) no-repeat center top;position:relative;z-index:5;padding:13px 20px 10px;}
#cjo_connectmedia_top #cjo_connectmedia_close{position:absolute;display:block;right:20px;top:15px;}
#cjo_connectmedia_top #cjo_cat_path{font-size:12px;margin:-5px 0 5px -10px;}
#cjo_connectmedia_middle{width:820px;background:transparent url(../img/contejo/bg/connectmedia_middle.png) repeat-y center top;overflow:hidden;padding:10px 10px 10px 20px;}
#cjo_connectmedia_middle .container{height:422px;overflow:auto;position:relative;}
#cjo_connectmedia_bottom{clear:both;height:60px;background:transparent url(../img/contejo/bg/connectmedia_bottom.png) no-repeat center top;color:#999 !important;padding:10px;}
#cjo_connectmedia_bottom #cjo_connectmedia_icon{margin-left:5px;display:none;float:left;}
#cjo_connectmedia_bottom #cjo_connectmedia_details{margin-left:50px;display:none;overflow:hidden;}
#cjo_connectmedia_bottom #cjo_connectmedia_details *{float:left;background-position:left center;background-repeat:no-repeat;font-size:11px;padding:0 12px;}
#cjo_connectmedia_bottom #cjo_connectmedia_details h3{font-size:13px;margin:0;padding:0;}   

.mediabutton .cjomediabuttonfield {max-width:100% }
.mediabutton .cjomediabuttonfield input {width:627px !important }
}