{
    "MAIL_ACCOUNT" : "1",
    "SUBJECT" : "Benutzer-Registrierung",
    "GENDER_TYPES" : "m=Herr|w=Frau",
    "VERIFY_REGISTRATION" : "1",
    "ACTIVATION_MSG" : "Sehr geehrte\/r %title% %name%,\r\n\r\nIhr Benutzerkonto f\u00fcr die Webseite XXX wurde freigeschaltet.\r\n\r\nMit freundlichen Gr\u00fc\u00dfen\r\n\r\n\r\n",
    "SEND_PASSWORD_MSG" : "Sehr geehrte\/r %title% %name%,\r\n\r\nIhr Benutzerkonto f\u00fcr die Webseite XXX wurde angelegt.\r\n\r\nIhr zentraler Benutzername lautet: %username%\r\n\r\nIhr zentrales, tempor\u00e4res Passwort lautet: %password%\r\n\r\nAus Sicherheitsgr\u00fcnden bitten wir das Passwort nach dem erstmaligen Login zu \u00e4ndern.\r\n\r\n\r\nMit freundlichen Gr\u00fc\u00dfen\r\n\r\n"
}