{
    "SETUP" : "true",
    "GL_SUBJECT" : "",
    "TEMPLATE" : "1",
    "SEND_TYPE" : "html",
    "DEFAULTLETTER" : "1",
    "TEXT" : "",
    "DEFAULT_GROUPS" : "1",
    "ATONCE" : "100",
    "TEST_GENDER" : "",
    "TEST_FIRSTNAME" : "",
    "TEST_NAME" : "",
    "TEST_EMAIL" : "",
    "NL_SIGNIN" : "",
    "NL_SIGNOUT" : "",
    "NL_CONFIRM" : "",
    "LOGIN_FORM" : "",
    "REGISTER_USER" : "",
    "ACTIVATE_USER" : "",
    "MANAGE_ACCOUNT" : "",
    "SEND_PASSWORD" : "",
    "LOGOUT" : "",
    "SAFE_DOWNLOAD" : "",
    "BOUNCE" : "1",
    "BOUNCE_MAIL_ACCOUNT" : "1"
}