{
	"addon_id": 33,
    "page": "oauth",
    "name": "OAuth",
    "perm": "oauth[]",
    "author": "Stefan Lehmann 2012",
    "version": "1.1",
    "compat": "3",
    "support": "http://contejo.com/addons/oauth",
    "autoload": [
    	"providers"
    ],
    "extensions": {
    	"ADDONS_INCLUDED": [
    		{"callback": "cjoOAuthProvider::initAddon",
    		 "environment": false }
    	] 	
    }
}