{
	"addon_id": 13,
    "page": "search",
    "perm": "search[]",
    "author": "Stefan Lehmann 2010-2012",
    "version": "1.1",
    "compat": "3",
    "support": "http://contejo.com/addons/search",
    "autoload": [
    	"classes"
    ],
    "extensions": {
    	"SQL_IMPORTED": [
    		{"callback": "cjoSearch::addFulltextIndex",
    		 "environment": "backend" }
    	],
    	"OUTPUT_FILTER": [
    		{"callback": "cjoSearch::replaceVars",
    		 "environment": "frontend" }
    	]    	
    },
    "onsetup": {
    	"status": 0,
    	"message": "msg_err_configure_settings",
    	"subpage": "settings"
    }
}
