{
    "PRODUCT_ADDED_MESSAGE" : "<p>Der Artikel wurde dem Warenkorb hinzugef\u00fcgt.<\/p>",
    "ORDER_CONFIRM_SUBJECT" : "Ihre Bestellung bei uns",
    "ORDER_CONFIRM_MAIL" : "Sehr geehrte\/r %customer%,\r\n\r\nVielen Dank f\u00fcr ihre Bestellung bei %shop_name%.\r\nIhre Bestellung ist bei uns unter der Bestellnummer %order_id% eingegangen.\r\n\r\nSie haben am %today% folgende Artikel bestellt:\r\n\r\n-----------------------------------------------------------------------------\r\n\r\n%product_list%\r\n\r\n-----------------------------------------------------------------------------\r\nBestellwert:  %order_value%\r\nVersankosten: %delivery_costs%\r\n\r\nGESAMTSUMME:  %total_sum%\r\n\r\nRECHNUNGSADRESSE\r\n----------------\r\n%address%\r\n\r\nZAHLUNGSMETHODE\r\n----------------\r\n%pay_method%\r\n\r\n%pay_data%\r\n\r\n\r\nIHRE BEMERKUNG\r\n--------------\r\n%order_comment%\r\n\r\nDie bestellten Artikel werden an die folgende Adresse geliefert:\r\n\r\n%supply_address%\r\n\r\nMit freundlichen Gr\u00fc\u00dfen\r\n\r\n\r\n\r\n",
    "ORDER_SEND_SUBJECT" : "Ihre Bestellung wurde versendet",
    "ORDER_SEND_MAIL" : "Sehr geehrte\/r %customer%,\r\n\r\nDie von ihnen bei %shop_name% bestellten  Artikel wurden am %today% versand,\r\nund sollten in K\u00fcrze bei ihnen eintreffen.\r\n\r\nMit freundlichen Gr\u00fc\u00dfen\r\n\r\n\r\n"
}