{
    "SETUP" : "true",
    "DELIVERY_METHOD" : "1",
    "ADRESS2_ENABLED" : "1",
    "ATTRIBUTE_FORMAT" : "0",
    "PAY_METHODS" : "bank_account|pre_payment",
    "PAY_COSTS" : "bank_account=0.00|pre_payment=0.00",
    "CURRENCY_NAMES" : "EUR=Euro",
    "CURRENCY_SIGNS" : "EUR=\u20ac",
    "EXCHANGE_RATIO" : "EUR=1",
    "PRICE_SEPARATORS" : "EUR=,",
    "DELIVERY_ARTICLE_ID" : "",
    "BASKET_ARTICLE_ID" : "",
    "CHECKOUT_ARTICLE_ID" : "",
    "POST_ORDER_ARTICLE_ID" : "",
    "COUNTRY" : "DE",
    "PHP_MAILER_ACCOUNT" : "1",
    "SHOP_OWNER_EMAIL" : "",
    "SHOP_THEME" : "default",
    "SHOP_MODUL_ID" : "",
    "HTTPS" : ""
}