{
	"addon_id": 22,
    "page": "modul_installer",
    "perm": "modul_installer[]",
    "author": "Stefan Lehmann 2008-2012",
    "version": "1.2",
    "compat": "3",
    "support": "http://contejo.com/addons/modul_installer",
    "setup": {
    	"message": [
    		["warning", "msg_not_installable", false]
    	]
    }
}