{
	"addon_id": 21,
    "page": "shop",
    "perm": "shop[]",
    "author": "Matthias Schomacker, Stefan Lehmann 2008-2012",
    "version": "1.2",
    "compat": "3",
    "support": "http://contejo.com/addons/shop",
    "autoload": [
    	"classes"
    ],
    "include": "config.inc.php",
    "tables": {
    	"TBL_21_ATTRIBUTES": "21_attributes",
    	"TBL_21_ATTRIBUTE_VALUES": "21_attribute_values",
    	"TBL_21_ATTRIBUTE_TRANSLATE": "21_attribute_translate",
    	"TBL_21_PACKUNITS": "21_packunits",
    	"TBL_21_BASKET": "21_basket",
    	"TBL_21_ORDERS": "21_orders",
    	"TBL_21_PAYMENT": "21_payment",
    	"TBL_21_DELIVERER": "21_deliverer",
    	"TBL_21_DELIVERER_DETAILS": "21_deliverer_details",
    	"TBL_21_DELIVERER_ZONE": "21_deliverer_zone",
    	"TBL_21_DELIVERY_COSTS": "21_delivery_costs",
    	"TBL_21_COUNTRY_ZONE": "21_country_zone"
    },
    "settings": {
	    "CSS_FRONTEND": "theme/shop.css",
	    "CSS_FRONTEND_IE": "theme/ie.css",
	    "CSS_BACKEND": "css/backend.css",
	    "JS_BACKEND": "js/backend.js",
	    "PAY_METHODS_PATH": "include/pay_methods",
	    "BUSINESS_TERMS": "business_terms.txt"
    },
    "extensions": {
    	"OUTPUT_FILTER": [
    		{"callback": "cjoShopExtension::replaceVars",
    		 "environment": "frontend" }
    	],
    	"CLANG_ADDED": [
    		{"callback": "cjoShopExtension::copyConfig",
    		 "environment": "backend" },
    		{"callback": "cjoShopExtension::copyAttributes",
    		 "environment": "backend" }
    	],
    	"ADDONS_INCLUDED": [
    		{"callback": "cjoShopExtension::initAddon",
    		 "environment": false }
    	] 	  	
    },
    "onsetup": {
    	"status": 0,
    	"message": "msg_err_configure_basic_settings",
    	"subpage": "basic_settings"
    }
}
