<IfModule mod_rewrite.c>

RewriteEngine On

RewriteCond %{REQUEST_URI} !contejo/?$ [NC]
RewriteCond %{REQUEST_URI} !(\.css|\.js|\.gif|\.jpg|\.jpeg|\.png|\.gz|\.flv|\.f4v|\.swf|\.pdf)$ [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*)\.([0-9]*)\.([0-9]*)\.(htm|html|json|xml)|. index.php?article_id=$2&clang=$3&%{QUERY_STRING}

#RewriteCond %{REQUEST_URI} (\.gif|\.jpg|\.jpeg|\.png)$ [NC]
#RewriteRule ^(.+)$ index.php?process_image=%{REQUEST_URI}&%{QUERY_STRING} [NC,L]

</IfModule>