{
    "SETUP" : "false",
    "ELEMENTS_PER_PAGE" : "10",
    "LIMIT_RESULTS" : "35",
    "MIN_LENGTH" : "4",
    "RELEVANCE" : "0.5",
    "SOURROUND_TAG_LENGTH" : "60",
    "SEARCH_ARTICLE_ID" : "217",
    "SEARCH_TEMPLATE_ID" : "",
    "EXCLUDE_ARTICLES" : "132|52|9|217|59|102|105",
    "INCLUDE_MODULES" : "1|2",
    "ARTICLE_VALUES" : "name|title",
    "SLICE_VALUES" : "value1|value2|value3|value4|value5"
}