{
    "cachesize" : "400",
    "cachedir" : "resized\/",
    "error_img" : "error.jpg",
    "default" : {
        "resize" : "0",
        "aspectratio" : "0",
        "jpg-quality" : "85"
    },
    "allowoverride" : {
        "jpg-quality" : "1"
    },
    "shadow" : {
        "shadow_crop_nums" : "0",
        "shadow_angle" : "0",
        "shadow_size" : "0",
        "shadow_distance" : "0",
        "shadow_color" : "#000000",
        "background_color" : "#ffffff",
        "samples" : "15",
        "border_width" : "0",
        "border_color" : "#ffffff"
    },
    "brand" : {
        "default" : {
            "brand_on_off" : "1",
            "brandimg" : "lupe.png"
        },
        "allowoverride" : {
            "brand_on_off" : "1",
            "brandimg" : "1"
        },
        "size" : "100",
        "x_margin" : "0",
        "y_margin" : "0",
        "orientation" : "rb",
        "limit" : "15",
        "resize" : "0",
        "opacity" : "100"
    },
    "res_orig" : {
        "on_off" : "1",
        "size" : "2048",
        "jpg-quality" : "90"
    }
}