{
	"addon_id": 4,
    "page": "opf_lang",
    "perm": "opf_lang[]",
    "author": "Stefan Lehmann 2008-2012",
    "version": "1.2",
    "compat": "3",
    "support": "http://contejo.com/addons/opf_lang",
    "autoload": [
    	"classes"
    ],
    "tables": {
    	"TBL_OPF_LANG": "opf_lang"
    },
    "extensions": {
    	"OUTPUT_FILTER": [
    		{"callback": "cjoOpfLang::translate",
    		 "environment": "frontend" }
    	],
    	"CLANG_ADDED": [
    		{"callback": "cjoOpfLang::addClang",
    		 "environment": "backend" }
    	]
    }
}