{
	"addon_id": 17,
    "page": "voucher_codes",
    "perm": "voucher_codes[]",
    "author": "Stefan Lehmann 2010",
    "version": "0.4",
    "compat": "3",
    "support": "http://contejo.com/addons/voucher_codes",
    "autoload": [
    	"classes"
    ],
    "include": "functions/functions_vc_voucher.inc.php",
    "tables": {
    	"TBL_17_VOUCHER": "17_voucher"
    }
}