{
	"addon_id": 34,
    "page": "xml_sitemap",
    "name": "XML-Sitemap",
    "perm": "xml_sitemap[]",
    "author": "Stefan Lehmann",
    "version": "1.0",
    "compat": "3",
    "support": "",
    "autoload": [
    	"classes"
    ],
    "extensions": {
    	"ADDONS_INCLUDED": [
    		{"callback": "cjoXMLSitemap::isRequested",
    		 "environment": false }
    	]   	
    }
}
