{
	"addon_id": 7,
    "page": "developer",
    "name": "Developer",
    "perm": "developer[]",
    "author": "Stefan Lehmann 2009",
    "version": "1.1",
    "compat": "3",
    "support": "http://contejo.com/addons/developer",
    "autoload": [
    	"classes"
    ],
    "settings": {
        "EDIT_PATH": "tmpl",
        "MODULE_PATH": "modules",
        "TEMPLATE_PATH": "templates",
        "MODULE_INPUT_EXTENSION": "input.php",
        "MODULE_OUTPUT_EXTENSION": "output.php",
        "TEMPLATE_EXTENSION": "template.php",
        "TMPL_EXTENSION": "html"
    },
    "extensions": {
    	"SQL_IMPORTED": [
    		{"callback": "liveEdit::deleteLiveEdit",
    		 "environment": false }
    	],
    	"ADDONS_INCLUDED": [
    		{"callback": "liveEdit::initAddon",
    		 "environment": false }
    	] 
    }
}