{
	"addon_id": 26,
    "page": "html5video",
    "perm": "html5video[]",
    "author": "Stefan Lehmann 2011-2012",
    "version": "1.2",
    "compat": "3",
    "support": "http://contejo.com/addons/html5video",
    "autoload": [
    	"classes"
    ],
    "extensions": {
    	"ADDONS_INCLUDED": [
    		{"callback": "cjoHtml5Video::processVideo",
    		 "environment": false }
    	]    	
    }
}
