{
	"addon_id": 30,
    "page": "extend_meta",
    "perm": "extend_meta[]",
    "author": "Stefan Lehmann 2012",
    "version": "1.1",
    "compat": "3",
    "support": "http://contejo.com/addons/extend_meta",
    "autoload": [
    	"classes"
    ],
    "include": "config.inc.php",
    "tables": {
    	"TBL_30_EXTEND_META": "30_extend_meta"
    },
    "settings": {
	    "FIELDTYPES": [
			"cjoLinkButtonField",
			"cjoMediaButtonField",
			"cjoMediaCategoryButtonField",
			"cjoMediaListField",
			"cjoWYMeditorField",
			"checkboxField",
			"colorpickerField",
			"datepickerField",
			"passwordField",
			"selectField",
			"textAreaField",
			"textField",
			"headlineField",
			"slideheadlineField"
		],
	    "VALIDATORTYPES": [
	    	"isCCExpDate",
			"isCCNum",
			"isColor",
			"isDate",
			"isDateAfter",
			"isDateBefore",
			"isDateEqual",
			"isDateOnOrAfter",
			"isDateOnOrBefore",
			"isEmail",
			"isFileSize",
			"isFileType",
			"isFloat",
			"isInt",
			"isLength",
			"isNot",
			"isNumber",
			"isPrice",
			"isRegExp",
			"isURL",
			"notEmptyOrNull"
	    ],
	    "BOUNCED_PATH": "bounced",
	    "LOGS_PATH": "logs"
    },
    "extensions": {
    	"META_FORM_INIT": [
    		{"callback": "cjoExtendMeta::addFormFields",
    		 "environment": false }
    	],
    	"META_FORM_VALID": [
    		{"callback": "cjoExtendMeta::saveFormFields",
    		 "environment": false }
    	],
    	"GENERATE_ARTICLE_META": [
    		{"callback": "cjoExtendMeta::generateMata",
    		 "environment": false }
    	],
    	"CONTEJO_CLASS_VARS_GENERATED": [
    		{"callback": "cjoExtendMeta::generateContejoClassVars",
    		 "environment": false }
    	],
    	"ARTICLE_DELETED": [
    		{"callback": "cjoExtendMeta::deleteArticle",
    		 "environment": "backend" }
    	],
    	"ARTICLE_COPIED": [
    		{"callback": "cjoExtendMeta::copyArticle",
    		 "environment": "backend" }
    	],
    	"CLANG_ADDED": [
    		{"callback": "cjoExtendMeta::addClang",
    		 "environment": "backend" }
    	],
    	"CLANG_DELETED": [
    		{"callback": "cjoExtendMeta::deleteClang",
    		 "environment": "backend" }
    	]    
    }
}
