{
	"addon_id": 23,
    "page": "channellist",
    "perm": "channellist[]",
    "author": "Stefan Lehmann 2010",
    "version": "1.1",
    "compat": "3",
    "autoload": [
    	"classes"
    ],
    "tables": {
    	"TBL_TV_CHANNELS": "23_tv_channels",
    	"TBL_RADIO_CHANNELS": "23_radio_channels",
    	"TBL_CHANNELPACKAGES": "23_radio_channels",
    	"TBL_FILM_LIST": "23_filmlist"
    },
    "extensions": {
    	"OUTPUT_FILTER": [
    		{"callback": "cjoChannelList::replaceVars",
    		 "environment": false},
    		{"callback": "cjoFilmList::replaceVars",
    		 "environment": false}
    	]
    }
}