{
	"addon_id": 31,
    "page": "permalink",
    "perm": "permalink[]",
    "author": "Stefan Lehmann 2008-2012",
    "version": "1.2",
    "compat": "3",
    "support": "http://contejo.com/addons/permalink",
    "autoload": [
    	"classes"
    ],
    "extensions": {
    	"GET_ARTICLE_ID": [
    		{"callback": "cjoPermalink::getArticleId",
    		 "environment": false }
    	],
    	"GENERATE_URL": [
    		{"callback": "cjoPermalink::generatedUrl",
    		 "environment": false }
    	],
    	"ADDONS_INCLUDED": [
    		{"callback": "cjoPermalink::initAddon",
    		 "environment": false }
    	]
    },
    "setup": {
    	"dependency": {
    		"addon": ["extend_meta"],
    		"value": [{"haystack": "ADDON|settings|extend_meta|FIELDS|name", 
    				   "needle": "permalink", 
    				   "message": "msg_err_permalink_not_present"}]
    	}
    }
}
