@media all  {
.shop_deliverer_settings_path {padding:10px}
.shop_deliverer_settings_path .container {font-weight:700;height:1.4em;line-height:18px;border:2px solid #99d8f3;background:#fff;text-align:left;position:relative;overflow:hidden;padding:3px 4px}
.shop_deliverer_settings_path .container a {float:left;display:block;white-space:nowrap;margin:0 2px}
.shop_deliverer_settings_path .container span {float:left;display:block;width:17px;height:25px;margin-top:-4px;background:transparent;background-image:url(./img/silk_icons/arrow_right.png);background-repeat:no-repeat;background-position:center center}
.shop_product_table {width:100%}
.shop_product_table th,.shop_product_table td {border-bottom:1px solid #CCC;padding:5px}
.shop_product_table th {border-color:#999}
.cjo_with_border.shop_product_table td {width:700px}
.shop_store_front {border:2px solid #99D8F3;overflow:hidden;width:600px;padding:20px}
.shop_store_front .shop_left_col,.shop_store_front .shop_right_col {width:50%;float:left}
.shop_store_front .shop_left_col {clear:both}
.shop_store_front p {margin:0 0 .3em}
.shop_store_front .shop_label {display:block;float:left;min-width:60px;margin-right:5px}
.shop_store_front select {width:auto;min-width:100px;max-width:150px}
.shop_store_front .shop_order_amount select {min-width:50px}
.shop_store_front .shop_final_price {line-height:240%;vertical-align:baseline;margin-bottom:20px}
.shop_store_front .shop_final_price .shop_final_price_pre_value,.shop_store_front .shop_final_price .shop_separator,.shop_store_front .shop_final_price .shop_final_price_post_value,.shop_store_front .shop_final_price .shop_final_price_currency {font-weight:700;font-size:210%;color:#009ee0}
.shop_store_front .shop_final_price .shop_final_price_pre_value,.shop_store_front .shop_final_price .shop_separator {font-size:300%}
.shop_store_front .shop_final_price .shop_final_price_post_value {vertical-align:super}
.shop_store_front .shop_final_price .shop_final_price_currency {font-weight:bold;color:#009ee0}
.shop_store_front p.shop_taxes,.shop_store_front p.shop_discount,.shop_store_front p.shop_delivery {font-size:85%;margin:0 0 .10em;padding:0}
.shop_store_front p.shop_taxes *,.shop_store_front p.shop_discount *,.shop_store_front p.shop_delivery * {font-size:100%;margin:0;padding:0}
.shop_info_basket_link {display:block;text-align:right;margin:10px 0 -10px}
.shop_add_to_basket_button .shop_button {margin-top:10px}
.shop_currency_select select {width:96%}
.shop_store_front span.shop_strike,.shop_store_front span.shop_strike .shop_brutto_price_value {color:red;text-decoration:line-through !important}
.shop_attribute_modul_select {position:relative}
.shop_attribute_modul_select .shop_attribute_prior {display:block;position:absolute;right:7px;top:7px}
.shop_attribute_modul_select .shop_attribute_prior select {width:auto;float:right;margin:-1px -1px 0 5px}
.shop_attribute_modul_select span select {display:block;margin-top:5px;width:50%}
.shop_attributes_list {margin: 0;display:block;clear:both;width:95%;padding:3px 5px}
.shop_attributes_list + * {border-top:1px solid #DDD;}
	
#shop_attributes_form .formheadline {margin-bottom: 0px}
#shop_attributes_form .multicols + div.hr  {display:none}
#shop_attributes_form .multicols {margin-top:-7px; background:#F2F2F2}
#shop_attributes_form .note input {position:absolute; margin:4px 0 0 -122px}
	
}
