{
	"addon_id": 15,
    "page": "multidomain",
    "perm": "multidomain[]",
    "author": "Stefan Lehmann 2008-2012",
    "version": "1.2",
    "compat": "3",
    "support": "http://contejo.com/addons/multidomain",
    "autoload": [
    	"classes"
    ],
    "tables": {
    	"TBL_MULTIDOMAIN": "15_multidomain"
    },
    "settings": {
	    "COMMENTS_JS": "comments.js",
	    "HTML_TEMPLATE": "list.default.html"
    },
    "extensions": {
    	"ADDONS_INCLUDED": [
    		{"callback": "cjoMultidomain::getDomain",
    		 "environment": "frontend" }
    	]
    }
}