{
	"addon_id": 10,
    "page": "community",
    "perm": "community[]",
    "author": "Stefan Lehmann 2008-2012",
    "version": "1.2",
    "compat": "3",
    "support": "http://contejo.com/addons/community",
    "autoload": [
    	"classes",
		"bounce"
    ],
    "tables": {
    	"TBL_COMMUNITY_USER": "10_community_user",
    	"TBL_COMMUNITY_GROUPS": "10_community_groups",
    	"TBL_COMMUNITY_UG": "10_community_ug",
    	"TBL_COMMUNITY_ARCHIV": "10_community_archiv",
    	"TBL_COMMUNITY_PREPARED": "10_community_prepared",
    	"TBL_COMMUNITY_BOUNCE": "10_community_bounce"
    },
    "settings": {
	    "BLANK_IMG": "blank.gif",
	    "PREPARED_PATH": "prepared",
	    "BOUNCED_PATH": "bounced",
	    "LOGS_PATH": "logs"
    },
    "extensions": {
    	"CLANG_ADDED": [
    		{"callback": "cjoCommunityExtension::copyConfig",
    		 "environment": "backend" }
    	],
    	"OUTPUT_FILTER": [
    		{"callback": "cjoCommunityExtension::replaceVars",
    		 "environment": "frontend" },
    		{"callback": "cjoCommunityExtension::replaceSafeDownloadPath",
    		 "environment": "frontend" }
    	],
    	"ARTICLE_OFFLINE": [
    		{"callback": "cjoCommunityExtension::redirectLogin",
    		 "environment": "frontend" }
    	],
    	"ADDONS_INCLUDED": [
    		{"callback": "cjoCommunityExtension::initAddon",
    		 "environment": false }
    	]
    },
    "onsetup": {
    	"status": 0,
    	"message": "msg_err_configure_settings",
    	"subpage": "settings"
    }
}
