{
	"addon_id": 20,
    "page": "phpmailer",
    "perm": "phpmailer[]",
    "author": "Stefan Lehmann 2008-2012",
    "version": "1.2",
    "compat": "3",
    "support": "http://contejo.com/addons/phpmailer",
    "autoload": [
    	"classes"
    ],
    "tables": {
    	"TBL_20_MAIL_SETTINGS": "20_mail_settings",
    	"TBL_20_MAIL_ARCHIV": "20_mail_archiv"
    }
}