{
	"addon_id": 29,
    "page": "upgrade",
    "name": "Upgrade to 2.5.x",
    "perm": "upgrade[]",
    "author": "Stefan Lehmann 2012",
    "version": "1.1",
    "compat": "3",
    "support": "http://contejo.com/addons/upgrade",
    "autoload": [
    	"classes"
    ],
    "setup": {
    	"message":  [
    		["warning", "msg_not_installable", false]
    	]
    }
}