{
	"addon_id": 8,
    "page": "image_processor",
    "perm": "image_processor[]",
    "author": "Stefan Lehmann 2008-2012 (based on imageResize Addon 0.3 code by Dennis Wenger - redaxo@bitpixel.de)",
    "version": "1.3",
    "compat": "3",
    "support": "http://contejo.com/addons/image_processor",
    "autoload": [
    	"classes"
    ],
    "tables": {
    	"TBL_IMG_CROP": "img_crop"
    },
    "settings": {
	    "cachedir": "resized\/"
    },
    "extensions": {
    	"MEDIA_ADDED": [
    		{"callback": "cjoImageProcessor::auto_resOrig",
    		 "environment": "backend" }
    	],
    	"MEDIA_SYNC": [
    		{"callback": "cjoImageProcessor::auto_resOrig",
    		 "environment": "backend" }
    	],
    	"MEDIA_UPDATED": [
    		{"callback": "cjoImageProcessor::auto_resOrig",
    		 "environment": "backend" }
    	],
    	"ADDONS_INCLUDED": [
    		{"callback": "cjoImageProcessor::initAddon",
    		 "environment": false }
    	]   	
    }
}
