{
    "SETUP": false,
    "VERSION": "2.8",
    "RELEASE": "0",
    "BACKEND_PATH": "core",
    "INCLUDE_PATH": "core\/include",
    "JQUERY_PATH": "core\/js\/jQuery",
    "ADDON_PATH": "core\/addons",
    "INSTALL_PATH": "core\/include\/install",
    "FRONTPAGE_PATH": "page",
    "FILE_CONFIG_PATH": "page\/include",
    "ADDON_CONFIG_PATH": "page\/include",
    "PAGE_CONFIG": "page\/include",
    "FILEPERM": 664,
    "DIRPERM": 777,
    "PHP_VERSION": "5.3.1",
    "SYSTEM_ADDONS": [
        "developer",
        "html5video",
        "image_processor",
        "import_export",
        "log",
        "phpmailer",
        "opf_lang",
        "wymeditor"
    ],
    "PERM": {
        "label_rights_media": 			   "media[]",
        "label_rights_media_categories":   "media[categories]",
        "label_rights_addmedia": 		   "media[addmedia]",
        "label_rights_tools": 			   "tools[]",
        "label_rights_templates": 		   "tools[templates]",
        "label_rights_modules": 		   "tools[modules]",
        "label_rights_actions": 		   "tools[actions]",
        "label_rights_ctypes": 		       "tools[ctypes]",
        "label_rights_langs":              "tools[langs]",
        "label_rights_catgroups":          "tools[catgroups]",
        "label_rights_types":              "tools[types]",
        "label_rights_users":              "users[]",
        "label_rights_password":           "users[password]",
        "label_rights_addon_admin":        "addons[]",
        "label_rights_specials":           "specials[]"
    },
    "EXTPERM": {
        "label_rights_advancedmode": 	   "advancedMode[]",
        "label_rights_moveslice": 	       "moveSlice[]",
        "label_rights_copycontent": 	   "copyContent[]",
        "label_rights_copyarticle": 	   "copyArticle[]",
        "label_rights_movearticle": 	   "moveArticle[]",
        "label_rights_deletearticle_tree": "deleteArticleTree[]",
        "label_rights_publisharticle":     "publishArticle[]",
        "label_rights_setloginarticle":    "setloginArticle[]"
    },
    "EXTRAPERM": {
        "label_rights_only_edit": 		  "editContentOnly[]"
    },
    "VARIABLES": [
        "cjoVarValue",
        "cjoVarLink",
        "cjoVarArticle",
        "cjoVarGlobals",
        "cjoVarMedia",
        "cjoVarMeta",
        "cjoVarNavigation",
        "cjoVarTemplate",
        "cjoVarWYMeditor"
    ]
}