{
    "enabled_fields" : "",
    "search_fields" : "",
    "select_fields" : "",
    "date_output_format" : "%A %d. %B %Y",
    "list_crop_num" : "",
    "elements_per_page" : "20",
    "results_order_by" : "start_date",
    "results_order_dir" : "ASC",
    "no_data_text" : "<p>Sorry nothing found!<\/p>",
    "date_input_enabled" : "1",
    "date_input_format" : "%d.%m.%Y",
    "cookie_enabled" : "0",
    "attribute_typ1" : "",
    "attribute_display1" : "1",
    "attribute_title1" : "start_time",
    "attribute_crop_num1" : "",
    "attribute_date_format1" : "",
    "attribute_values1" : "",
    "attribute_typ2" : "",
    "attribute_display2" : "",
    "attribute_title2" : "",
    "attribute_crop_num2" : "",
    "attribute_date_format2" : "",
    "attribute_values2" : "",
    "attribute_typ3" : "",
    "attribute_display3" : "",
    "attribute_title3" : "",
    "attribute_crop_num3" : "",
    "attribute_date_format3" : "",
    "attribute_values3" : "",
    "attribute_typ4" : "",
    "attribute_display4" : "",
    "attribute_title4" : "",
    "attribute_crop_num4" : "",
    "attribute_date_format4" : "",
    "attribute_values4" : "",
    "attribute_typ5" : "",
    "attribute_display5" : "",
    "attribute_title5" : "",
    "attribute_crop_num5" : "",
    "attribute_date_format5" : "",
    "attribute_values5" : "",
    "attribute_typ6" : "",
    "attribute_display6" : "",
    "attribute_title6" : "",
    "attribute_crop_num6" : "",
    "attribute_date_format6" : "",
    "attribute_values6" : "",
    "attribute_typ7" : "",
    "attribute_display7" : "",
    "attribute_title7" : "",
    "attribute_crop_num7" : "",
    "attribute_date_format7" : "",
    "attribute_values7" : "",
    "attribute_typ8" : "",
    "attribute_display8" : "",
    "attribute_title8" : "",
    "attribute_crop_num8" : "",
    "attribute_date_format8" : "",
    "attribute_values8" : "",
    "attribute_typ9" : "",
    "attribute_display9" : "",
    "attribute_title9" : "",
    "attribute_crop_num9" : "",
    "attribute_date_format9" : "",
    "attribute_values9" : "",
    "attribute_typ10" : "",
    "attribute_display10" : "",
    "attribute_title10" : "",
    "attribute_crop_num10" : "",
    "attribute_date_format10" : "",
    "attribute_values10" : ""
}