{
	"addon_id": 16,
    "page": "event_calendar",
    "perm": "event_calendar[]",
    "author": "Stefan Lehmann 2008-2012",
    "version": "1.2",
    "compat": "3",
    "support": "http://contejo.com/addons/event_calendar",
    "autoload": [
    	"classes"
    ],
    "tables": {
    	"TBL_16_EVENTS": "16_events"
    },
    "extensions": {
    	"CLANG_ADDED": [
    		{"callback": "cjoEventCalendar::copyConfig",
    		 "environment": "backend" }
    	],
    	"OUTPUT_FILTER": [
    		{"callback": "cjoEventCalendar::replaceVars",
    		 "environment": "frontend" }
    	],
    	"ADDONS_INCLUDED": [
    		{"callback": "cjoEventCalendar::initAddon",
    		 "environment": false }
    	] 
    },
    "setup": {
    	"message":  [
    		["warning", "msg_not_installable", false]
    	]
    }
}
