{
	"addon_id": 7,
    "page": "comments",
    "perm": "comments[]",
    "author": "Stefan Lehmann 2008-2012",
    "version": "1.2",
    "compat": "3",
    "support": "http://contejo.com/addons/comments",
    "autoload": [
    	"classes", 
    	"b8-0.4.4"
    ],
    "tables": {
    	"TBL_COMMENTS": "7_comments",
    	"TBL_COMMENTS_B8": "7_comments_b8",
    	"TBL_COMMENTS_CONFIG": "7_comments_config"
    },
    "settings": {
	    "COMMENTS_JS": "comments.js",
	    "HTML_TEMPLATE": "list.default.html"
    },
    "extensions": {
    	"OUTPUT_FILTER": [
    		{"callback": "cjoCommentsExtension::replaceVars",
    		 "environment": "frontend" }
    	],
    	"CJO_FORM_COMMENTS_SETTINGS_SAVE": [
    		{"callback": "cjoGenerate::generateAll",
    		 "environment": "backend" }
    	],
    	"CLANG_ADDED": [
    		{"callback": "cjoCommentsConfig::copyConfig",
    		 "environment": "backend" }
    	],
    	"CLANG_DELETED": [
    		{"callback": "cjoCommentsConfig::deleteConfigByLang",
    		 "environment": "backend" }
    	]
    }
}